/**
 * @file
 * Variables.
 */

// Grid and Breakpoints
$break-medium:  700px;
$break-large:   1200px;

$grids: 3;
$grids: add-grid(8 at   $break-medium);
$grids: add-grid(10 at $break-large);

$gutters: 1/3;

$base_color: #4A4A4A;

// Tabs
$nav-tabs-border-color: #ddd;
$nav-tabs-link-hover-border-color: #eee;
$nav-tabs-active-link-hover-color: #555;
$nav-tabs-active-link-hover-bg: #FFF;
$nav-tabs-active-link-hover-border-color: #ddd;
$line-height-base: 1.42857143;